

<div class="row" style="margin-top:100px;">
    <div class="col-md-8 col-md-offset-2" ui-sortable="sortableOptions" ng-model="awesomeThings">
        <div id="draggable" class="panel panel-default">
            <div class="panel-heading">shell <button type="button" class="close" onclick="$('#links').slideToggle(400, 'linear');"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button></div>
            <div class="panel-body" style="">
                user@72.29.68.160:~/ $ <span id="welcome" style="white-space:pre;overflow-wrap: break-word;"></span>
                <div id='links' style="" class="container-fluid">
                    <div class="row">
                        <div class="col-xs-4">
                            <a href="http://nina.talley-yarhouse.us">Nina's Portfolio</a>
                        </div>
                        <div class="col-xs-4">
                            <a href="http://wedding.talley-yarhouse.us">Our Wedding</a>
                        </div>
                        <div class="col-xs-4">
                            <a href="http://aaron.talley-yarhouse.us">Aaron's page</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>